.social-widgets {margin-top:30px;}
.social-widgets > span {
    margin-right: 5px;
}
.stButton {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    line-height: 16px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.stButton .stBubble {
    background: url("http://w.sharethis.com/share4x/images/bubble_arrow_below.png") no-repeat scroll 10px 40px rgba(0, 0, 0, 0);
    color: #4d4d4d;
    display: none;
    height: 44px;
    line-height: 16px;
    margin: 5px 0 2px;
    overflow: hidden;
    width: 60px;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
    background-image: url("/images/facebook_counter.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    white-space: nowrap;
    width: auto;
}
.stButton .st-twitter-counter, .stButton .st-facebook-counter {
    width: 60px;
}
.stButton .st-pinterest-counter, .stButton .st-email-counter {
    width: 60px;
}
.stButton .stButton_gradient {
    background: -moz-linear-gradient(center top , #d5d5d5 0px, #efefef 48%, #fff 94%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    display: inline-block;
    font-family: serif;
    height: 16px;
    padding: 2px;
}
.stButton .stBubble + .stButton_gradient {
    min-width: 54px;
}

.stButton .stBubble_count {
    background: -moz-linear-gradient(center top , #d5d5d5 0px, #efefef 48%, #fff 94%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 18px;
    height: 29px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 58px;
    z-index: -1;
}